<h1>Api Productos - Sebastian Ramos</h1>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/api">Carga de productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api/productos">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Home</a>
    </li>
  </ul>