<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>
        <main>
            <h1>No posee los permisos necesarios para realizar esta accion</h1>
            <a href="/"> Volver a inicio </a>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
</html>